 *{font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;}



.title-container {
font-size: 200%;
width: 90%;
height: 100px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.menutitle{
width:20%;
float:right;
border: 2px solid black;
text-align: center;
font-size: 125%;
float:right;
}

.menu{
background-color: #837B7B;
margin:10px;
border:2px solid black;
}

.text{
margin:10px;
margin-top:40px;
clear:left;
}

.row {
width: 90%;
border: 5px;
margin-right: auto;
margin-left: auto;
padding:5px;
}
   
#chicken{background-color: pink;}
   
#beef{background-color: brown;}
   
#sushi{background-color: gold;}
   

/Desktop/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    background-color: white;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    background-color: white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {.col-sm-12 {
    float: left;
    background-color: white;
    width: 100%;}

}
